.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.env_user
_targets/
_targets/*
!_targets/meta/meta
_targets_sandbox/
_targets_sandbox/*
!_targets_sandbox/meta/meta
nohup.out
data/archive
data/**/*.csv.gz
data/**/*.grib
data/**/*.parquet
data/**/*.zip
data/**/*.nc
data/**/*.tif
data/elevation/*
data/slope_aspect/*
data/soil/*


